.cover-chat-room {
  height: 110%;
  width: 100%;
  background-image: url(/assets/mypage-scaled.jpg);
  background-color: rgba(255, 255, 255, 0.4);
  background-blend-mode: lighten;
  background-size: 100% 100%;
  font-family: cursive;
}